extends layout

block content
  h1= title
  p Welcome to Graphql world

  .container
    .row
      .col-sm
        a(href="/graphql") graphql
      .col-sm
        | One of three columns
      .col-sm
        | One of three columns


