extends layout

block content
  h1= title
  p Welcome to homePage

  .container
    .row
      .col-sm
        a(href="/graphql2") graphql
      .col-sm
        | One of three columns
      .col-sm
        | One of three columns


