extends layout

block content
  h1= title
  p Welcome to Graphql world

  .container
    .row
      .col-sm
        a(href="/graphql") GraphQL API 图像界面
      .col-sm
        a(href="/languages") languages API 
      .col-sm
        | One of three columns


