doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src="./javascripts/fetch.js")  
